.footprint {
  width:80%;
  margin:20px auto;
  position:relative;
 }
.footprint ul {
   list-style-type: none;
   width: 100%;
   margin:0;
   padding:0;
 }

.footprint ul li h3 {
   font-weight:bold;
   font-size:20px;
 }

.footprint ul li img {
   margin: 0 15px 0 0;
   width:100px;
   height:100px;
 }

.footprint ul li p {
   font-size:16px;
 }

.footprint ul li div {
   overflow: hidden;
 }

.footprint ul li {
   width:100%;
   padding: 10px;
   overflow: auto;
   display:flex;
 }

.footprint ul li:hover {
   background: #eee;
   cursor: pointer;
 }

.star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.star.active {
  color: #ffcc00;
}

.image-div {
  width:60%;
  display:flex;
}
.product-rating {
  display:flex;
  width:40%;
}
.product-rating > div:first-child{
  width:70%;
  padding:10px;
}
.product-rating > div:nth-child(2){
  width:30%;
  padding:10px;
}
.product-rating-textarea {
  height:50px;
}
.product-rating-button {
  margin-top:40px;
}
@media screen and (max-width: 750px) {
  .image-div {
    width:40%;
    display:block;
  }
  .footprint ul li img {
     margin: 0 15px 0 0;
     width:50px;
     height:50px;
   }
   .product-rating {
      width:60%;
      display:block;
    }
    .product-rating > div:first-child{
      width:100%;
    }
    .product-rating > div:nth-child(2){
      width:100%;
    }
    .star {
      font-size: 16px;
      color: #ccc;
      cursor: pointer;
    }
    .product-rating-button {
      margin-top:0;
    }
    .product-rating-textarea {
      width:100%;
    }
}